<div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-12"><br>
        <h3>Active Surveys </h3>
        
        <br>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th class="text-center">Date</th>
                <th class="text-center">Description</th>
                <th class="text-center"></th>
                <th *ngIf='isLoggedIn()' class="text-center"></th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let survey of surveys">
                    <td *ngIf='isLoggedIn() && survey.User!==displayName && survey.Answer_1==undefined'>{{survey.Title}}</td>
                    <td *ngIf='isLoggedIn() && survey.User!==displayName && survey.Answer_1==undefined' class="text-center">{{survey.Date}}</td>
                    <td *ngIf='isLoggedIn() && survey.User!==displayName && survey.Answer_1==undefined' class="text-center">{{survey.Description}}</td>
                
                    <td *ngIf='isLoggedIn() && survey.User!==displayName && survey.Answer_1==undefined' class="text-center">
                        <a href="/" class="bt btn-primary btn-sm">Answer Survey</a>
                    </td>
                    <td  *ngIf='isLoggedIn() && survey.User!==displayName && survey.Answer_1==undefined' class="text-center">
                        <a href="/surveys">
                          <button type="button" class="btn btn-danger btn-sm" (click)="deleteSurvey(survey._id)">Delete</button>
                        </a>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-offset-1 col-md-10 text-center">
          <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-md-offset-1 col-md-12">
        <h3>Completed Surveys </h3>   
        <br>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th class="text-center">Date</th>
                <th class="text-center">Description</th>
                <th *ngIf='isLoggedIn()' class="text-center"></th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let survey of surveys">
                    <td *ngIf='isLoggedIn() && survey.User===displayName && survey.Answer_1!==undefined'>{{survey.Title}}</td>
                    <td *ngIf='isLoggedIn() && survey.User==displayName && survey.Answer_1!==undefined' class="text-center">{{survey.Date}}</td>
                    <td *ngIf='isLoggedIn() && survey.User==displayName && survey.Answer_1!==undefined' class="text-center">{{survey.Description}}</td>
              
                    <td  *ngIf='isLoggedIn() && survey.User==displayName && survey.Answer_1!==undefined' class="text-center">
                        <a href="/">
                          <button type="button" class="btn btn-danger btn-sm" (click)="deleteSurvey(survey)">Delete</button>
                        </a>
                    </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-offset-1 col-md-10 text-center">
          <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
      </div>
    </div>


</div>