<div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h3>Survey List </h3>
        <a href="/surveys/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a Survey</a>
        <br>
        <br>
        <div class="table-responsive survey_table">
          <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">User</th>
                    <th class="text-center">Title</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Question_1</th>
                    <th *ngIf='isLoggedIn()' class="text-center">Answer_1</th>
                    <th class="text-center">Question_2</th>
                    <th *ngIf='isLoggedIn()' class="text-center">Answer_2</th>
                    <th class="text-center">Question_3</th>
                    <th *ngIf='isLoggedIn()' class="text-center">Answer_3</th>
                    
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let survey of surveys">
                <td class="text-center">{{survey.User}}</td>
                <td class="text-center">{{survey.Title}}</td>
                <td class="text-center">{{survey.Date}}</td>
                <td class="text-center">{{survey.Description}}</td>
                <td class="text-center">{{survey.Question_1}}</td>
                <td *ngIf='isLoggedIn()' class="text-center">{{survey.Answer_1}}</td>
                <td class="text-center">{{survey.Question_2}}</td>
                <td *ngIf='isLoggedIn()' class="text-center">{{survey.Answer_2}}</td>
                <td class="text-center">{{survey.Question_3}}</td>
                <td *ngIf='isLoggedIn()' class="text-center">{{survey.Answer_3}}</td>

                <td class="text-center">
                  <a >
                    <button type="button" class="bt btn-primary btn-sm" (click)="editSurvey(survey._id)">
                   Edit</button>
                  </a>
                </td>
                <td class="text-center">
                  <a href="/">
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteSurvey(survey._id)">Delete</button>
                  </a>
                  <!-- <a href="/" class="bt btn-danger btn-sm">
                   Delete</a> -->
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>