.mysurvey_table {

    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;

}


.table_background{
    background: ghostwhite;
}

input[type="text"], textarea {
    background-color : ghostwhite; 
}
  



