<div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
       <!-- Add Survey Page -->
        
          
            <form [formGroup]= "formdata" (ngSubmit)= "onClickSubmit(formdata.value)">
              <div class="form-group">
                <label for="NameTextField">Title</label>
                <input type="text" class="form-control" id="NameTextField"
                placeholder="Survey Name" name="Title" formControlName="Title" required>
              </div>
              <div class="form-group">
                <label for="DateTextField">Date (MM/DD/YYYY)</label>
                <input type="text" class="form-control" id="DateTextField"
                placeholder="Date" name="Date" formControlName="Date" required>
              </div>
              <div class="form-group">
                <label for="DescriptionTextField">User</label>
                <input type="text" class="form-control" id="User"
                placeholder="User" name="User" formControlName="User" required>
              </div>
              <div class="form-group">
                <label for="DescriptionTextField">Description</label>
                <input type="text" class="form-control" id="DescriptionTextField"
                placeholder="Survey Description" name="Description" formControlName="Description" required>
              </div>
              <div class="form-group">
                <label for="Question_1TextField">Question_1</label>
                <input type="text" class="form-control" id="GenreTextField"
                placeholder="Question_1" name="Question_1" formControlName="Question_1" required>
              </div>
               
               <div class="form-group">
                <label for="Question_2TextField">Question_2</label>
                <input type="text" class="form-control" id="GenreTextField"
                placeholder="Question_2" name="Question_2" formControlName="Question_2" required>
              </div>
               
               <div class="form-group">
                <label for="Question_3TextField">Question_3</label>
                <input type="text" class="form-control" id="GenreTextField"
                placeholder="Question_3" name="Question_3" formControlName="Question_3" required>
              </div>

              <a href="/">
                <button type="submit" class="forsubmit btn btn-success">Submit</button>
              </a> 
              <a href="/" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
            </form>
      </div>
    </div>
</div>