<div class="container">
  <div class="row" style="padding-top: 3%;padding-left: 14%;">
    <div class="offset-md-2 col-md-7" style="border:1px solid black;padding-bottom: 4%;padding-top: 1%;padding-left: 5%;padding-right: 5%;">
    
     <!-- Add Survey Page -->
     <h3 *ngIf='requestType==="add"'>Add New Survey</h3>
        
          <form *ngIf="requestType=='add'" [formGroup]= "formdata" (ngSubmit)= "onClickSubmit(formdata.value)" #myform="ngForm">
            
            <div class="form-group"  style="padding-top: 1%;">
              <label for="NameTextField">Title</label>
              <input type="text" class="form-control" minlength="5" id="NameTextField"
              placeholder="Survey Title" name="Title" formControlName="Title" required maxlength="40">
            </div>
            <div *ngIf="formdata.get('Title').hasError('required') && myform.submitted" class='alert-danger'>Survey Title is required</div>
            <div *ngIf="formdata.get('Title').hasError('minlength') && myform.submitted" class='alert-danger'>Length should be atleast 5</div>
            
            <div class="form-group"  style="padding-top: 1%;">
              <label for="DateTextField">Date</label>
              <input type="date" class="form-control" id="DateTextField"
              placeholder="Date" name="Date" formControlName="Date" required>
            </div>
            <div *ngIf="formdata.get('Date').hasError('required') && myform.submitted" class='alert-danger'>Date is required</div>
            
            <div class="form-group"  style="padding-top: 1%;">
              <label for="DescriptionTextField">Description</label>
              <input type="text" class="form-control" minlength="5" id="DescriptionTextField"
              placeholder="Survey Description" name="Description" formControlName="Description" required minlength="5" maxlength="100">
            </div>
            <div *ngIf="formdata.get('Description').hasError('required') && myform.submitted" class='alert-danger'>Description is required</div>
            <div *ngIf="formdata.get('Description').hasError('minlength') && myform.submitted" class='alert-danger'>Length should be atleast 5</div>
            
            <div class="form-group"  style="padding-top: 1%;">
              <label for="Question_1TextField">Question 1</label>
              <input type="text" class="form-control" minlength="5"  id="GenreTextField"
              placeholder="Question 1" name="Question_1" formControlName="Question_1" required minlength="5" maxlength="100"> 
            </div>
            <div *ngIf="formdata.get('Question_1').hasError('required') && myform.submitted" class='alert-danger'>Question is required</div>
            <div *ngIf="formdata.get('Question_1').hasError('minlength') && myform.submitted" class='alert-danger'>Length should be atleast 5</div>
                          
             <div class="form-group"  style="padding-top: 1%;">
              <label for="Question_2TextField">Question 2</label>
              <input type="text" class="form-control" minlength="5"  id="GenreTextField"
              placeholder="Question 2" name="Question_2" formControlName="Question_2" required minlength="5" maxlength="100">
            </div>
            <div *ngIf="formdata.get('Question_2').hasError('required') && myform.submitted" class='alert-danger'>Question is required</div>
            <div *ngIf="formdata.get('Question_2').hasError('minlength') && myform.submitted" class='alert-danger'>Length should be atleast 5</div>
            
             <div class="form-group"  style="padding-top: 1%;">
              <label for="Question_3TextField">Question 3</label>
              <input type="text" class="form-control" minlength="5" id="GenreTextField"
              placeholder="Question 3" name="Question_3" formControlName="Question_3" required minlength="5" maxlength="100">
            </div>
            <div *ngIf="formdata.get('Question_3').hasError('required') && myform.submitted" class='alert-danger'>Question is required</div>
            <div *ngIf="formdata.get('Question_3').hasError('minlength') && myform.submitted" class='alert-danger'>Length should be atleast 5</div>
            
            <div style="padding-top: 3%;">
              <a href="/home">
              <button type="submit" class="forsubmit btn btn-primary" >Submit</button></a>
       
            <a href="/" class="btn btn-warning" style="margin-left: 3%;"><i class="fa fa-undo" ></i> Cancel</a></div>

          </form>

          <!-- Answer Survey Page -->
          <h1 *ngIf="requestType=='answer'" >Answer Survey </h1>
          <form *ngIf="requestType=='answer'" [formGroup]= "answerformdata" (ngSubmit)= "onSubmitAnswer(answerformdata.value)" #myform="ngForm">

              <div class="form-group"  style="padding-top: 3%;">
                <label for="NameTextField"><b>Survey Title:</b> {{surveys.Title}}</label>
              </div>

              <div class="form-group"  style="padding-top: 1%;">
                <label for="DateTextField"><b>Date Created:</b> {{surveys.Date}}</label>
              </div>

              <div class="form-group"  style="padding-top: 1%;">
                <label for="DescriptionTextField"><b>Description:</b> {{surveys.Description}}</label>
              </div>

              <div class="form-group"  style="padding-top: 7%;">
                <label for="Question_1TextField"><b>Question 1 :</b> {{surveys.Question_1}}</label>
              </div>

              <div class="form-group"  style="padding-top: 1%;">
                <label for="Answer_1TextField">Answer: </label>
                <input type="text" class="form-control" id="GenreTextField"
                placeholder="Please write your answer here" name="Answer_1" value="{{surveys.Answer_1}}"  formControlName="Answer_1" required>
              </div>
              <div *ngIf="answerformdata.get('Answer_1').hasError('required') && myform.submitted" class='alert-danger'>Answer is required</div>
            
              <div class="form-group"  style="padding-top: 1%;">
                <label for="Question_2TextField"><b>Question 2 :</b> {{surveys.Question_2}}</label>
              </div>

              <div class="form-group"  style="padding-top: 1%;">
                <label for="Answer_2TextField">Answer: </label>
                <input type="text" class="form-control" id="GenreTextField"
                placeholder="Please write your answer here" name="Answer_2" value="{{surveys.Answer_2}}" formControlName="Answer_2" required>
              </div>
              <div *ngIf="answerformdata.get('Answer_2').hasError('required') && myform.submitted" class='alert-danger'>Answer is required</div>
            
              <div class="form-group"  style="padding-top: 1%;">
                <label for="Question_3TextField"><b>Question 3 :</b> {{surveys.Question_3}}</label>
              </div>

              <div class="form-group"  style="padding-top: 1%;">
                <label for="Answer_3TextField">Answer: </label>
                <input type="text" class="form-control" id="GenreTextField"
                placeholder="Please write your answer here" name="Answer_3" value="{{surveys.Answer_3}}" formControlName="Answer_3" required>
              </div>
              <div *ngIf="answerformdata.get('Answer_3').hasError('required') && myform.submitted" class='alert-danger'>Answer is required</div>

              <div style="padding-top: 3%;">
                <a href="/home">
                <button type="submit" class="forsubmit btn btn-primary" >Submit</button></a>
         
              <a href="/surveys" class="btn btn-warning" style="margin-left: 3%;"><i class="fa fa-undo" ></i> Cancel</a></div>

            </form>
          

    </div>
  </div>
</div>
